div {
    font-family: 'Arial';
}

.div2 {
    width: 100%;
    text-align: center;
}

.item-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.item-name {
    font-weight: bold;
    min-width: 250px;
}

.item-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: cadetblue;
    border: 1px solid #0a7e8c;
    padding: 10px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quantity {
    border: 1px dotted red;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px 5px;
}

span {
    width: 50px;
    text-align: center;
    padding: 10px;
}